.text-animate{
              display: inline-block;
              opacity: 0;
              animation: bounceIn 1s 1s;
              animation-fill-mode: forwards;
              min-width: 10px;
             
}

.text-animate-hover{
              min-width: 10px;
              display: inline-block;
              animation-fill-mode: both;
}
.dark-theme{
.text-animate-hover:hover{
              animation: rubberBand 1s;
              color: rgb(67, 67, 251);
}
}
.light-theme{           
.text-animate-hover:hover{
              animation: rubberBand 1s;
              color: rgb(36, 36, 130);
}
}

@for $i from 1 through 35 {
              .text-animate._#{$i}{
                            animation-delay: #{$i/10}s;
              }
}